<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roman Benitez</title>
    <link rel="shortcut icon" href="../assets/img/favicon.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <script
      src="https://kit.fontawesome.com/dd3023d1f5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav id="header">
      <div>
        <p>Roman Benitez</p>
        <i class="fas fa-code"></i>
      </div>
      <div id="menu-responsive">
        <button class="hamburger">
          <svg viewBox="0 0 100 80" width="30" height="30" fill="#fff">
            <rect width="90" height="15"></rect>
            <rect y="30" width="90" height="15"></rect>
            <rect y="60" width="90" height="15"></rect>
          </svg>
        </button>
      </div>
      <ul class="nav">
        <li><a href="#Inicio">Inicio</a></li>
        <li><a href="#SobreMi">Sobre mi</a></li>
        <li><a href="#Proyectos">Proyectos</a></li>
        <li><a href="#Contacto">Contacto</a></li>
      </ul>
    </nav>
    <section id="Inicio">
      <div id="Ini_container1"><div id="circle"></div></div>
      <div id="Ini_container2">
        <span>Hola!</span>
        <h1>Soy Roman Benitez</h1>
        <span>Frontend Developer</span>
      </div>
    </section>
    <section id="SobreMi">
      <div id="Sob-container3">
        <p class="hidden">Sobre Mi</p>
      </div>
      <div id="Sob-container4" class="hidden">
        <div><p>Quien soy?</p></div>
        <div><h2>Mis habilidades</h2></div>
      </div>
      <div id="Sob-body">
        <div id="Sob-container1" class="hidden">
          <div>
            <h2 class="hidden">
              Soy Roman Benitez, un apasionado sobre el desarrollo web y la
              tecnologia
            </h2>
            <p class="hidden">
              Soy un Frontend developer, nacido en Argentina Inicie en el mundo
              del desarrollo web en 2021 estudiando en ITMaster Academy, y desde
              entonces quede fascinado con lo desafiante y amplio que es este
              Rubro.
            </p>
            <button class="btn btn-cta hidden">Descargar CV</button>
          </div>
        </div>
        <div id="Sob-container2" class="hidden">
          <div id="Sob-container2-body">
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-html5"></i>
              <p>HTML</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-css3-alt"></i>
              <p>CSS</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-sass"></i>
              <p>SASS</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-js-square"></i>
              <p>JAVASCRIPT</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-react"></i>
              <p>REACT</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-git-alt"></i>
              <p>GIT</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-bootstrap"></i>
              <p>BOOTSTRAP</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fab fa-node"></i>
              <p>NODEJS</p>
            </div>
            <div class="Sob-container2-body-items hidden">
              <i class="fas fa-database"></i>
              <p>MongoDB</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="Proyectos">
      <div id="Proyectos-container-1" class="hidden"><p>Proyectos</p></div>
      <div id="Proyectos-container-2" class="hidden">
        <div class="proyectos-item one hidden">
          <h4 class="titulo">Ciudad por ciudad</h4>
          <div class="btns">
            <a
              target="_blank"
              href="https://github.com/romanjbenitez/climaxciudad"
              >Repositorio</a
            >
            <a target="_blank" href="https://ciudadxclimas.netlify.app/"
              >Demo</a
            >
          </div>
          <div class="background-hover"></div>
        </div>
        <div class="proyectos-item two hidden">
          <h4 class="titulo">Notes App</h4>
          <div class="btns">
            <a target="_blank" href="https://github.com/romanjbenitez/NotesApp">Repositorio</a>
            <a target="_blank" href="https://notesappjs.herokuapp.com/"
              >Demo</a
            >
          </div>
          <div class="background-hover"></div>
        </div>
        <div class="proyectos-item three hidden">
          <h4 class="titulo">New Fushiguro</h4>
          <div class="btns">
            <a href="https://github.com/romanjbenitez/New-fushiguro" target="_blank">Repositorio</a>
            <a target="_blank" href="https://new-fushiguro.vercel.app/"
              >Demo</a
            >
          </div>
          <div class="background-hover"></div>
        </div>
          <div class="background-hover"></div>
        </div>
      </div>
    </section>
    <section id="Contacto">
      <p class="hidden">Contacto</p>
      <div id="Contacto-grid">
        <div class="Contacto-row hidden">
          <a target="_blank" href="https://github.com/romanjbenitez">
            <span>GitHUB</span><i class="fab fa-github"></i></a></a>
            
        </div>
        <div class="Contacto-row hidden">
          <a target="_blank" href="mailto:contacto@romanbenites.com">
            <span>Mail</span><i class="fas fa-envelope"></i>
          </a>
        </div>
        <div class="Contacto-row hidden">
          <a target="_blank" href="https://www.linkedin.com/in/romanjbenitez">
            <span>Linkedin</span><i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </section>
    <footer class="hidden">
      <span>Copyright © 2021 Roman Benitez </span>
      <span>All Rights Reserved</span>
    </footer>
  </body>
  <script src="../js/index.js"></script>
</html>
